[Unit]
Description=Process Watcher Service
After=network.target

[Service]
Type=simple
ExecStart=/home/reenes/lab3/watcher.sh
User=root
WorkingDirectory=/home/reenes/lab3
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target